.body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

body {
    background-color: lightgray;
}

.page {
    width: 1500px;
    background-color: #ffbb5c;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.vis-container-map {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 48px;
}

.title h1,p {
    margin-top: 0px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 30px;
}

.small-font {
    font-size: 14px;
}
