#population_choropleth {
	height: 700px;
	width: 420px;
}

#population_bar {
	height: 600px;
	width: 420px;
}

.body {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: lightgray;
}

.page {
    width: 1250px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.title h1,p {
    margin-top: 0px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}
